<?php

$config = PhpCsFixer\Config::create()
    ->setRules([
        '@PSR1'        => true,
        '@PSR2'        => true,
        'array_syntax' => ['syntax' => 'short'],
        'cast_spaces'  => ['space' => 'single'],
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude(['bin', 'log', 'logs', 'var', 'vendor'])
            ->in(__DIR__)
    )
;

PhpCsFixer\FixerFactory::create()
    ->registerBuiltInFixers()
    ->registerCustomFixers($config->getCustomFixers())
    ->useRuleSet(new PhpCsFixer\RuleSet($config->getRules()));

return $config;
